  .heading{
    color: black;
    font-size:large;
    padding:10px;
  }
  .image{
    width: 340px;
    height: 480px;
    border: 3px solid black;
    padding: 2px 6px 4px 4px;
    margin:4px;
    background-color:lightblue;
  }
  .pic{
    width: 300px;
    height: 230px;
  padding: 20px 10px 10px 18px;
  }
 fieldset{
  height: 150px;
  border: 3px solid black;
  padding:10px;
 }
 .style{
  margin: 13px;
padding: 3px 10px ;
 }
 .save-b{
  margin-left: 120px;
 }
   
.parent{
  width:190px;
  height:280px;
  border:2px solid black;
  padding:10px 10px 10px 90px;
  margin:10px;
}
.boxs{
  width:50px;
  height:50px;
  border:2px solid black;
  margin:2px;
}
.static{
  background-color: blueviolet;
  position:static;

}
.absolute{
  background-color: greenyellow;
  
}
.relative{
  background-color: red;
   position:relative;
   left:50px
}
.sticky{
  background-color:pink;
   position:sticky;
   left:50px;
   bottom:50px;
}
.fixed{
  background-color: darkblue;
   position:fixed;
   right:0px;
   top:0px;
}
.main-box{
  display: flex;
  flex-direction: row;
  gap:1rem;
 justify-content:center;
  align-items: center; 
  width: 300px; 
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
}
.box{
  border:2px solid black;
  width: 30px;
  height: 30px;
  background-color: red;
}
@media(min-width:500px) and (max-width:700px){
.main-box{
  width: 500px;
  height: 500px;
}
.box{
  width: 40px;
  height: 40px;
}}
@media(min-width:700px){
  .main-box{
    width:800px;
    height: 800px;
  }
  .box{
    width: 60px;
    height: 60px;
  }
}